body {
  background-color: #ffa3ce;
  font-family: Arial, sans-serif;
  padding: 50px;
}

h1 {
  color: #4e0072;
}

h2 {
  color: #4e0072;
}

h3 {
  color: #4e0072;
}

p {
  color: #333;
  font-size: 18px;
}

img {
    height: 600px;
}