body {
  background-color: #f7c6c6;
  font-family: Arial, sans-serif;
  padding: 50px;
}

h1 {
  color: #3366cc;
}

h2 {
  color: #3366cc;
}

h3 {
  color: #3366cc;
}

p {
  color: #333;
  font-size: 18px;
}

img {
    height: auto;
}